<template>
    <div class="col-xs-12 col-sm-6">
        <template v-if="server">
            <p>Server Details:</p>
            <p>Server id: #{{ server.serverId }} </p>
            <p>Server status: {{ server.serverStatus }} </p>
            <button @click="handleClick">Change Status</button>
        </template>
        <template v-else>
            <p>No server details to display</p>
        </template>
    </div>

</template>

<script>
    import { eventBus } from '../../main';

    export default {
        data: function() {
            return {
                server: null
            }
        },
        methods: {
            handleClick() {
                const newStatus = 'NEW';

                this.server.serverStatus = newStatus;
            }
        },
        created() {
            const _this = this;

            eventBus.$on('supplyData', data => {
                _this.server = data;
           }); 
        }
    }
</script>

<style>

</style>
