<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <server-item 
                v-for="item in servers"
                :key="item.id"
                :server="item"
            ></server-item>
        </ul>
    </div>
</template>

<script>
    import ServerItem from './Server.vue';
    import { eventBus } from '../../main';

    export default {
        components: {
            'server-item': ServerItem
        },
        data: () => {
            return {
                servers: [
                    {
                        serverId: 1,
                        serverStatus: 'Critical'
                    },
                    {
                        serverId: 2,
                        serverStatus: 'Ok'
                    },
                    {
                        serverId: 3,
                        serverStatus: 'Unknown'
                    },
                    {
                        serverId: 4,
                        serverStatus: 'Performing check'
                    }
                ],
            }
        }
    }
</script>

<style>

</style>
