<template>
    <li
        class="list-group-item"
        @click="handleClick"
    >
        Serer #{{ server.serverId }}
    </li>
</template>

<script>
    import { eventBus } from '../../main';

    export default {
        props: {
            server: {
                type: Object,
                required: true
            }
        },
        methods: {
            handleClick() {
                eventBus.supplyData(this.server);
            }
        }
    }
</script>